/* ---------- Scrool ---------- */
html {
  scroll-behavior: smooth;
}

.top {
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #222222;
  text-decoration: 0;
  transition: all 0.4s;
}

/* ---------- Page ---------- */

#paragraph {
  font-size: 50px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box {
  width: 250px;
  box-shadow: 0 0 10px gray;
}

.boxDiv {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.boxDiv > img {
  width: 100%;
  height: 100%;
}

.flex {
  width: 100%;
  margin: 20px;
  margin: auto;
  text-align: center;
}

img:hover {
  transform: scale(1.02);
}

/* ---------- FOOTER ---------- */
#circleBtn:hover {
  opacity: 0.95;
  color: white;
}

.btn.btn-rounded {
  border-radius: 50px;
}

.container {
  margin-top: 100px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1;
  border-radius: 25px;
  align-items: center;
  align-content: center;
  background-color: #222222;
  color: white;
  margin: 0 10px 0 10px;
}

#group {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

/* .container {
  display: grid;
  grid-template-rows: repeat(3, 260px);
  grid-template-columns: repeat(5, 260px);

  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
} */

.footerText {
  text-align: center;
  color: rgb(122, 122, 122);
}

#footerInput {
  display: flex;
  justify-content: center;
}

#emailF {
  width: 300px;
  height: 50px;
  border: solid black 2px;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 10px;
  color: rgb(128, 128, 128);
}

#buttonF {
  width: 80px;
  border: solid black 2px;
  background-color: white;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
}

#footerLinks {
  text-align: center;
  color: rgb(204, 204, 204);
}

.lineCenter {
  margin: 0;
  padding: 0 10px;
  background: white;
  display: inline-block;
}
#star {
  text-align: center;
  position: relative;
  z-index: 2;
}
#star:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 43.5%;
  right: 0;
  border-top: solid 1px darkgrey;
  z-index: -1;
  width: 200px;
  justify-content: center;
}
